* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montseratt", sans-serif;
}

.app {
  background-image: url("./assets/cold-bg.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.warm {
  background-image: url("./assets/warm-bg.jpg");
}

.app.rain {
  background-image: url("./assets/thunder.gif");
}
.app.mist {
  background-image: url("./assets/misty.gif");
}
.app.haze {
  background-image: url("./assets/haze.gif");
}
.app.clear {
  background-image: url("./assets/clear1.gif");
}
.app.clouds {
  background-image: url("./assets/clouds.gif");
}
/* .app.rain {
  background-image: url("./assets/rain-bg.gif");
} */

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  margin-top: 20px;
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

/* Modal Styles */
.modal-eka {
  /* box-sizing: border-box; */
  /* background-color: aqua; */
  border-radius: 10px;
  /* background-color: #313131; */
  background-image: url("./assets/clouds1.gif");
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  border: none;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 0px;
}
/* .modal-eka hr {
  display: none;
} */

/* .foota {
  background-image: url("./assets/clouds1.gif");
  border: none;
} */

/* .baady { */
/* background-color: #313131; */
/* background-image: url("./assets/clouds1.gif"); */
/* border: none; */
/* text-align: center; */
/* justify-content: center; */
/* align-items: center; */
/* } */

/* .sar {
  background-image: url("./assets/clouds1.gif");
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
} */

/* .sar span {
  display: none;
}
.sar button {
  display: none;
} */
/* body
  > div:nth-child(7)
  > div */
/* >  */
/* div.modal.fade.show > div > div > div > button > span {
  display: none;
} */

.modal-content {
  width: auto;
  background: none;
  border: none;
  border-width: 0px;
}
